* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: rgb(255, 255, 255); */
  background-color: #e9ecfb;
  color: #000;
  height: 100vh;
}

.converter-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-color: rgb(255, 255, 255); */
  background-color: #e9ecfb;
}

.row-weights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weights-col {
  text-align: -webkit-center;
}

.pounds-input {
  /* box-shadow: 0 0 2px 2px #e3e3e3; */
  box-shadow: 0 0 4px 1px #e9ecfb;
}

input {
  max-width: 80%;
  text-align: -webkit-center;
}

#output {
  text-align: -webkit-center;
  min-height: 350px;
}

.card {
  max-width: 80%;
  height: 4rem;
  border: none;
  box-shadow: 0 0 2px 1px #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weight-font-size {
  font-size: 1rem;
}